*{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
	font-weight: 500;
}

.padding-15{
	padding:15px;
}

.nopadding{
	padding:0px;
}
.nomargin{
	margin:0px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width:1366px;
}

.header{
	color:#bdc3c7;
}
.header-text{
	font-size:36px;
}
.small-text{
	font-size:12px;
}
.top-header{
	height:auto;
	padding-top:10px;
}
.clearfix{
	clear:both;
}
.bottom-header{
	height:200px;
	position:relative;
}
.bottom-header::after{
	height:200px;
	position:relative;
}
.relative{
	position:relative;
}
.col-6{
	width:50%;
	float:left;
	box-sizing:border-box;
}

.col-3{
	width:25%;
	float:left;
	box-sizing:border-box;
	
}


.center-vertical-left{
	position:absolute;	
	top:50%;
	left:0;
	transform:translate(0,-50%);
}
.center-vertical-right{
	position:absolute;	
	top:50%;
	right:0;
	transform:translate(0,-50%);
}
.right-text{
	text-align:right;
}
.left-text{
	text-align:left;
}
.center-text{
	text-align:center;
}
.right{
	float:right;
}
.left{
	float:left;
}
.button{
	background-color:lightblue;
	color:white;
	border:0px;
}
/* style 1 */
.nav1{
	list-style-type: none;
}
.nav1-button{
	display:inline-block;
	position:relative;
}

.nav1-button >a{
	text-decoration: none;
	color:#bdc3c7;
	display:inline-block;
	padding:10px 20px;
}
.dropdown a{
	text-decoration: none;
	color:#bdc3c7;
	display:inline-block;
}
.nav1-button:hover{
	background-color:lightgrey;
	transition:300ms;
}
.nav1-button .dropdown{
	position:absolute;
	right:0px;
	list-style-type: none;
	background-color:white;
	white-space: nowrap;
	border:1px solid #bdc3c7;
	box-shadow: 2px 2px 2px lightgrey;
	opacity: 0;
	z-index:-1;
}
.nav1-button:hover .dropdown{
	display:block;
	height:auto;
	opacity:1;
	z-index:1;
	transition:300ms;
}
.nav1-button .dropdown .sub-button{
	display:block;
	padding:5px;
}
.nav1-button .dropdown .sub-button:hover{
	background-color:#34495e;
	transition:300ms;
}

main{
	background-color:#34495e;
}
main ul{
	list-style-type: none;
	
}
main ul li{
	display:inline-block;
	padding:10px;
}
main ul li >a{
	text-decoration:none;
	color:#337ab7;
}
main ul li >a:visited{
	color:#337ab7;
}

/* width */
.width_10{
	width:10%;
}
/* card */
.card{
	padding:10px;
}
.img-container{
	position:relative;
	overflow:hidden;
}

.img-container .img{
	
}

.img-container:hover{
	background-color:rgba(211, 211, 211, 0.6);
}

.img-container:hover .img{
	opacity:0.6;
}

.img-container .img img{
	width:100%;
}

.img-container .img-hover{
	position:absolute;
	left:50%;
	top:150%;
	transform:translate(-50%,-50%);
	display:inline-block;
}
.img-container:hover .img-hover{
	top:50%;
	transition:300ms;
}

.img-container .content-text{
	position:absolute;
	bottom:-50%;
	width:100%;
	background-image:linear-gradient(to top,#06f,rgba(255, 255, 255, 0));
}
.img-container:hover .content-text{
	bottom:0;
	transition:300ms;
}

