header{
	color:#bdc3c7;
}
.small-text{
	font-size: 12px;
}
.headtext{
	margin-top:10px;
}
.topmenu{
	margin-top:12px;
}
.tophead{
	background-color:white;
}
.low-header{
	height:150px;
}
.header-left{
	margin:0;padding:0;
	display:inline-block;
	box-sizing:border-box;
	float:left;
	width:50%;
}
.header-right{
	margin:0;padding:0;
	display:inline-block;
	box-sizing:border-box;
	float:left;
	width:50%;
	position:relative;
}
.text-header{
	position:absolute;
	top:20px;
	right:0px;
}
.noborder{
	border:0px;
}
.nopadding{
	padding:0px;
}
main{
	background-color:#34495e;
}
.center-text{
	text-align:center;
}
.horizontal-nav{
	padding:30px 10px;
	display:inline-block;
	text-decoration: none;
	color:white;
}
.item-img{
	height:200px;
	overflow:hidden;
}
.item-img >img{
	width:100%;
}
.item-content{
	text-align: center;
	color:white;
	padding-top:10px;
	padding-bottom:20px;
}
.container-item{
	margin-left:-15px;
	margin-right:-15px;
}
.itemx{
	
}
.nobackground-color{
	background-color:white;
}
.footer-margin{
	margin-bottom:10px;
}
.comment-border{
	border:0px;
}
footer{
	color:#bdc3c7;
}
